@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --background: 256 100% 95%;
        --foreground: 256 5% 0%;
        --card: 256 50% 90%;
        --card-foreground: 256 5% 10%;
        --popover: 256 100% 95%;
        --popover-foreground: 256 100% 0%;
        --primary: 256 62% 76%;
        --primary-foreground: 0 0% 0%;
        --secondary: 256 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 218 30% 85%;
        --muted-foreground: 256 5% 35%;
        --accent: 218 30% 80%;
        --accent-foreground: 256 5% 10%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 256 5% 90%;
        --border: 256 30% 50%;
        --input: 256 30% 18%;
        --ring: 256 62% 76%;
        --radius: 0.75rem;
    }

    .dark {
        --background: 256 50% 5%;
        --foreground: 256 5% 90%;
        --card: 256 50% 0%;
        --card-foreground: 256 5% 90%;
        --popover: 256 50% 5%;
        --popover-foreground: 256 5% 90%;
        --primary: 256 62% 76%;
        --primary-foreground: 0 0% 0%;
        --secondary: 256 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 218 30% 15%;
        --muted-foreground: 256 5% 60%;
        --accent: 218 30% 15%;
        --accent-foreground: 256 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 256 5% 90%;
        --border: 256 30% 18%;
        --input: 256 30% 18%;
        --ring: 256 62% 76%;
        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

